.banner {
  color: #FFF;
  background-image: radial-gradient(circle, #1B4FA1 0%,#162345 100%);
  min-height: 600px;
  .inner {
    display: flex;
    .left {
      padding: 60px 0;
      flex: 1;
      h1 {
        font-size: 60px;
        margin-bottom: 50px;
      }
      h2 {
        font-size: 25px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 50px;
      }
      .actions {
        margin-bottom: 50px;
        .actionItem {
          border: 1px solid rgba(255, 255, 255, 0.8);
          padding: 7px 25px;
          color: #FFF;
          text-decoration: none;
          border-radius: 100px;
          transition: 0.3s;
          margin-right: 30px;
          color: rgba(255, 255, 255, 0.8);
          display: inline-block;
          font-weight: 500;
          &:hover {
            transform: scale(1.05);
          }
          &:last-child {
              margin-right: 0; 
          }
        }
      }
      .description {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.4);
        margin: 0;
      }
    }
    .right {
      background-size: 480px;
      width: 500px;
      height: 500px;
      text-align: right;
      img {
        margin-top: 50px;
        height: 100%;
      }
    }
  }
}

.introductions {
  .item {
    border-radius: 8px;
    position: relative;
    padding: 80px 0;
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    box-sizing: content-box;
    display: flex;
    min-height: 225px;
    margin-left: 40px;
    align-items: center;
    .img {
      border-radius: 10px;
      transition-duration: 0.5s;
      width: 300px;
      height: 225px;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
      }
    }
    .content {
      flex:1;
      padding-left: 80px;
      h1 {
        margin: 30px 0;
      }
      p {
        font-size: 18px;
        color: var(--ifm-font-color-secondary);
      }
    }
    &:last-child {
      border: none;
    }
    
    &:nth-child(2n) {
      flex-direction: row-reverse;
      .content {
        padding-left: 0;
        padding-right: 80px;
      }
    }
  }
}

.features {
  background: rgba(150, 150, 150, 0.03);
  padding: 60px 0 150px;
  border-top: 1px solid rgba(150, 150, 150, 0.1);
  border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  .items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    .item {
      width: 25%;
      border: 1px solid rgba(150, 150, 150, 0.1);
      text-align: center;
      padding: 20px 30px;
      margin-left: -1px;
      margin-top: -1px;
      transition-duration: 0.3s;
      cursor: pointer;
      img {
        display: inline-block;
        width: 50px;
        height: 50px;
        transition-duration: 0.3s;
      }
      .title {
        font-weight: 500;
      }
      &:hover {
        background: var(--ifm-navbar-background-color);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}


[data-theme='dark'] {
  .banner {
    color: #FFF;
    background-image: radial-gradient(circle, #162345 0%,#1B1B1D 100%);
  }
}


@media(max-width:996px){
  .banner {
    min-height: 550px;
    .inner {
      .left {
        text-align: center;
        padding: 30px;
        h1 {
          font-size: 40px;
        }
        .actions {
          margin-top: 30px;
          .actionItem {
            padding: 5px 15px;
            font-size: 14px;
          }
        }
      }
      .right {
        display: none;
      }
    }
  }
  .introductions {
    .item {
      left: 0;
      padding: 20px 0;
      text-align: center;
      min-height: auto;
      .img{
        display: none;
      }
      .content {
        padding: 0;
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 18px;
        }
      }
      &:nth-child(2n) {
        .content {
          padding: 0;
        }
      }
    }
  }
}

