/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  color: #FFF;
  background-image: radial-gradient(circle, #1B4FA1 0%,#162345 100%)
}

.inner {
  height: 500px;
  
  position: relative;
}
.inner .left {
  padding-top: 100px;
  width: 50%;
}
.inner .left h1 {
  font-size: 50px;
}
.inner .left h2 {
  font-size: 25px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

.inner .right {
  position: absolute;
  top:0;
  right: 0;
  background: url('https://gw.alipayobjects.com/mdn/rms_ae7ad9/afts/img/A*-wAhRYnWQscAAAAAAAAAAABkARQnAQ');
  background-size: 480px;
  width: 500px;
  height: 500px;
}

.actions {
  position: absolute;
  bottom: 80px;
  left:0;
}
.actions .actionItem {
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 10px 30px;
    color: #FFF;
    text-decoration: none;
    border-radius: 100px;
    transition: 0.3s;
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.actions .actionItem:hover {
  background: rgba(255, 255, 255, 0.1);
}