.box {
  text-align: left;
  width: 900px;
  height: 70vh;
  padding: 20px 20px 0px;
  overflow-y: scroll;
  margin: 20px auto 30px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.writer {
  text-align: left;
  width: 100%;
  height: 60vh;
  border: 1px solid;
  padding: 20px 20px 60px;
  overflow-y: scroll;
  font-family: monospace;
  color: white;
  background: black;
  border: 6px solid #cecece;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgb(158 119 237 / 40%), 0px 5px 30px 2px rgb(105 65 198 / 40%);
  margin: 20px 0;
}

.btn {
  border: none;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
  width: auto;
  min-width: 80px;
  height: 38px;
  border-radius: 2.5px;
  background-image: linear-gradient(180deg, #6b81fa, #1760ff);
  color: #fff;
  font-weight: 600;
  margin-top: 10px;

  &:not(:disabled):hover {
    filter: brightness(120%);
    transform: scale(1.05);
    box-shadow: 0 0 20px 5px rgb(86 67 204 / 30%);
  }

  &:disabled {
    transform: 1;
    // cursor: not-allowed ;
    // background-image: linear-gradient(180deg, #a1a2a4, #888a8d);
  }

  &:last-child {
    margin-top: 20px 0;
  }
}

.is_hidden {
  display: none;
  transition: display 1s;

}

.new_pre {
  padding: 0;
  background: none;
  font-size: x-small;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;

}

.cli {
  .Typewriter {
    display: inline;
    margin-left: 5px;
  }
}

.is_display {
  display: none;
}

.green-text {
  color: #4db62b;
}

.blue-text {
  color: #28a8cf;
}

.centered-title {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  margin: 20px auto;
}

.centered-des {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: normal;
  margin: 0 0 14px 0;
}