:root {
  --ifm-color-primary:  #3919A0FF;
}

.menu__list {
  font-size: 14px;
  .menu__link--sublist-caret:after {
    background-size: 1.5em;
  }
}

html[data-theme='dark'] {
  --ifm-color-primary:  #FFF;
  .navbar__brand {
    .navbar__logo {
      background-image: url('../../static/img/logo-dark.png');
    }
  }
}

.footer--dark {
  --ifm-footer-background-color: #242526;
}

.navbar__brand {
  margin-right: 50px;
  .navbar__logo {
    background-image: url('../../static/img/logo-dark.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 120px;
    height: 30px;
    overflow: hidden;
    img {
      display: none;
    }
  }
  .navbar__item {
    margin: 0 5px;
    display: none;
  }
}

.tabs {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  font-weight: normal;
  .tabs__item {
    margin-right: 0.2rem;
    &:hover {
      background: transparent;
      color: var(--ifm-color-primary);
    }
  }
}


.navbar {
  background: linear-gradient(to right, #2C3087FF 0%, #2C3087FF 50%, #512AB4FF 100%);
  height: var(--ifm-navbar-height);
  padding:0 20px;
}


.navbar__link {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  height: 100%;
  line-height: 50px;
  transition-duration: 0.5s;
  &:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(270deg, rgba(255,255,255,0) 0%, #FFFFFF 52%, rgba(255,255,255,0) 100%);
    border-image-slice: 1;
  }
}
.navbar__link--active {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(270deg, rgba(255,255,255,0) 0%, #FFFFFF 52%, rgba(255,255,255,0) 100%);
  border-image-slice: 1;
}

.foot_cool{
  text-align: center !important;
}

.footer {
  background-image: linear-gradient(to right, #2D3187FF 20%, #3C2A96FF 60%, #542AB9FF 100%);
  padding-bottom: 0;
  .footer__items {
    .footer__item{
      .contact-span{ 
        padding-left: 25px;
      }
      a {
        font-family: PingFangSC-Regular, PingFang SC;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
        &:hover {
          color: #FFF;
        }
      }
      &:nth-child(1) {
        .contact-span{
          background: url('../../static/img/icon_mail.png') no-repeat; 
          background-size: 18px 18px;
        }
      }
      &:nth-child(2) {
        .contact-span{
          background: url('../../static/img/icon_twitter.png')  no-repeat;
          background-size: 18px 18px;

        }
      }
      &:nth-child(3) {
        .contact-span {
          background: url('../../static/img/icon_slack.png')  no-repeat;
          background-size: 18px 18px;
        }
      }
      &:nth-child(4) {
        .contact-span {
          background: url('../../static/img/icon_linkedin.png')  no-repeat;
          background-size: 18px 18px;
        }
      }
    }
  }
  
  .footer__link-item{
    font-family: PingFangSC-Regular, PingFang SC;
    color: rgba(255, 255, 255, 0.5);
    &:hover {
      color: #FFF;
    }
  }
  .footer__bottom {
    font-family: PingFangSC-Regular, PingFang SC;
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.5);
  }
}

@media(max-width:1680px){
  .container {
    max-width: var(--ifm-container-width);
  }
}

@media (max-width: 996px){
  .navbar__toggle {
    color: #fff;
  }
  .col {
    flex-basis: 0;
  }
  .footer {
    .footer__bottom {
      margin-top: 0;
      padding: 0 5px;
    }
    .footer__copyright{
      font-size: 12px;
    }
  }
}

@media (max-width: 576px){
  .col {
    flex-basis: 50%;
  }
}