/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


.navbar__brand .navbar__logo {
  background-image: url('../../static/img/logo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
[data-theme='dark'] .navbar__brand .navbar__logo {
  background-image: url('../../static//img/logo-dark.png');
}
.navbar__brand .navbar__logo img {
  visibility: hidden;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1B4FA1;
  --ifm-code-font-size: 14px;
  --ifm-global-radius: 2px;
  --ifm-menu-link-padding-vertical: 8px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #009FE7;
}

.navbar__brand {
  margin-right: 50px;
}


.navbar__item {
  margin: 0 5px;
}